<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../css/home.css">
    <title>HOME</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="main-sub">

            <div class="video">
                <video src="/img/videohome.mp4" type="video/mp4" autoplay="true" muted="true" loop="true"></video>
            </div>
            <section class="servicios">
                <div>
                    <h3 class="titulo"> Nuestros Servicios</h3>
                    <h4 class="sub-tit"> En Mimate te ofrecemos la mejor experiencia de belleza</h4>
                </div>
                <br>
                <div class="articulos">
                    <% products.forEach(product => {
                     if (product.category === 'service' && product.id <=8) { %>
                        <article class="articulo1">
                            <a href="/products/productDetail/<%=product.id%>">
                            <img src= <%= product.image %>  alt="i">
                            <div class="descripcions">
                                <p class="precios">$<%= product.price %></p>
                                <p class="descripciones"><%= product.name %></p>
                            </div>
                            </a> 
                         </article>
                         <% }}); %> 
                      
                    </div>
            </section>
            <br>
            <div class="buton">
                <a href="#">Ver Mas</a>
            </div>
            <br>
            <section class="servicios">
                <h3 class="titulo"> Nuestros Productos </h3>
                <br>
                <div class="articulos">
                    <% products.forEach(product => {
                     if (product.category === 'product' && product.id <=8) { %>
                        <article class="articulo1">
                            <a href="/products/productDetail/<%=product.id%>">
                            <img src= <%= product.image %>  alt="i">
                            <div class="descripcions">
                                <p class="precios">$<%= product.price %></p>
                                <p class="descripciones"><%= product.name %></p>
                            </div>
                            </a> 
                         </article>
                         <% }}); %> 
                      
                    </div>
            </section>
            <br>
            <div class="buton">
                <a href="#">Ver Mas</a>
            </div>
            <br>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>