<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/login.css">
        <title>Login</title>
</head>

<body>
    <%- include('../partials/header2') %>
        <main>
            <div class="main-login">
                <h1>¡Hola de nuevo!</h1>
                <section class="inicio1">
                    <form action="/user/login" method="POST" class="create-form">
                        <div class="control-formulario">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" name="email" id="email" class="control" value= "<%= locals.old && old.email ? old.email : " "%> ">
                            <% if (locals.errors && errors.email) { %>
                                <div class=text-danger> 
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>

                        </div>
                        <div class="control-formulario">
                            <label>Contraseña:</label>
                            <input type="password" name="password" class="control" required>
                        </div>
                        <div class="control-formulario2">
                            <button type="submit" class="button">Iniciar Sesion</button> <br>
                            <button> <a href="#">Iniciar con google</a></button>
                        </div>
                        <div class="control-formulario2">
                            <a href="#">No recuerdo mi contraseña</a><br>
                            <a href="/user/register">Crear cuenta</a>
                        </div>


                    </form>
                </section>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>