<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/register.css">
        <title>Register</title>
</head>

<body>
    <%- include('../partials/header2') %>
        <main>
            <div class="main-register">
                <h1>Crear cuenta</h1>
                <p>Comprá más rápido y lleva el control de tus pedidos. ¡En un solo lugar!</p>

                <section class="inicio1">
                    <form action="/user/register" method="POST" enctype="multipart/form-data" class="create-form ">
                        <div class="parte-arriba">
                            <div class="control-formulario">
                                <label>Nombre:</label>
                                <input type="text" name="Nombre"
                                    class="control <%= locals.errors && errors.Nombre ? 'is-invalid' : null %> "
                                     value="<%= locals.oldData ? oldData.Nombre : null %>">
                                <% if (locals.errors && errors.Nombre) { %>
                                    <div class="danger-text">
                                        <%= errors.Nombre.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="control-formulario">
                                <label>Apellido:</label>
                                <input type="text" name="Apellido"
                                class="control <%= locals.errors && errors.Apellido ? 'is-invalid' : null %> "
                                 value="<%= locals.oldData ? oldData.Apellido : null %>">
                            <% if (locals.errors && errors.Apellido) { %>
                                <div class="danger-text">
                                    <%= errors.Apellido.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div class="control-formulario">
                                <label>Email:</label>
                                <input type="email" name="Email"
                                    class="control <%= locals.errors && errors.Email ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.Email : null %>">
                                <% if (locals.errors && errors.Email) { %>
                                    <div class="danger-text">
                                        <%= errors.Email.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="control-formulario">
                                <label>Telefono:</label>
                                <input type="tel" name="Telefono"
                                    class="control <%= locals.errors && errors.Telefono ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.Telefono : null %>">
                                <% if (locals.errors && errors.Telefono) { %>
                                    <div class=" danger-text">
                                        <%= errors.Telefono.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="control-formulario">
                                <label>Contraseña:</label>
                                <input type="password" name="Password"
                                    class="control <%= locals.errors && errors.Password ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.Password : null %>">
                                <% if (locals.errors && errors.Password) { %>
                                    <div class=" danger-text">
                                        <%= errors.Password.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="control-formulario">
                                <label>Confirmar contraseña:</label>
                                <input type="password" name="confirmPassword"
                                    class="control <%= locals.errors && errors.confirmPassword ? 'is-invalid' : null %>"
                                     value="<%= locals.oldData ? oldData.confirmPassword : null %>">
                                <% if (locals.errors && errors.confirmPassword) { %>
                                    <div class="danger-text">
                                        <%= errors.confirmPassword.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="control-formulario">
                                <label>Agregar Imagen:</label>
                                <input type="file" name="image" class="control <%= locals.errors && errors.image ? 'is-invalid' : null %>">
                                <% if (locals.errors && errors.image) { %>
                                    <div class="danger-text">
                                        <%= errors.image.msg %>
                                    </div>
                                    <% } %>

                            </div>
                        </div>
                        <div class="control-formulario2">
                            <button type="submit" class="button">Crear cuenta</button>
                            <p>or</p>
                            <button> <a href="#">Iniciar con google</a></button>
                        </div>
                        <div class="control-formulario2">
                            <a href="/user/login">¿Ya tienes una cuenta? Inicia sesión</a>

                    </form>
                </section>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>