<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="../css/users.css">
        <title>PRODUCTOS</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="main-sub">
                <section class="servicios">
                    <div>
                        <h3 class="titulo"> Usuarios</h3>
                    </div>
                    <br>
                    <div class="articulos">
                        <% users.forEach(user=> { %>
                            <article class="articulo1">
                                <img src= "<%=user.image %>" alt="i">
                                <div class="descripcions">
                                    <p class="precios"><%= user.nombre %>  <%= user.apellido %> </p>
                                    <p class="descripciones">
                                        <%= user.email %>
                                    </p>
                                </div>
                                </a>
                            </article>
                            <% }); %>

                    </div>
                </section>
                <br>

            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>